
header {
	text-align: center;
	margin-bottom: 16px;
	padding-bottom: 16px;
	border-bottom: 1px solid #FFFFFF;
}

.board {
	max-width: 640px;
	margin: 32px auto;
	display: flex;
	justify-content: center;
	align-items: center;

}

.newgame {
	margin-top: 2rem;
}
.button-roll {
	font-weight: bold;
	padding: 4px 16px;
	margin-right:32px;
	background-color: #44CC44;
}

.button-roll:disabled {
	background-color: #CCC;
}

.button-new-game {
	font-weight: bold;
	padding: 4px 16px;
	margin-right:32px;
	background-color: #44CC44;
}

.button-roll:disabled {
	background-color: #CCC;
}


.dice {
	width: 32px;
	height: 32px;
	margin: 16px;
	padding: 8px;
	background-color: #FFFFFF;
	color: #444;
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
}
.dice.selected {
	background-color: #CC4444;
	color: #FFF;
}

.dice:hover,
.scoreline:hover {
	background-color: #FFFFDD;
	cursor: pointer;
}


.scorecard {
	max-width: 752px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}

.leftSide,
.rightSide {
	max-width: 320px;
	width: 100%;
	display: block;
	margin: 16px;
}

.scoreline {
	width: 100%;
	background-color: #FFF;
	color: #444;
	padding: 4px 8px;
	margin: 16px 0;
	display: flex;
	justify-content: space-between;
}

.scoreline.placed {
	background-color: #FC0;
}

.scoreline .title {

}

.scoreline .score {
	text-align: right;
}
.scoreboard {
	display: flex;
	max-width: 720px;
	justify-content: center;

	width: 100%;
	margin: 0 auto;
}
.topten {
	max-width: 320px;
	width: 100%;
	margin: 0 auto;
	padding: 16px;
}
.summary {
	max-width: 320px;
	width: 100%;
	margin: 0 auto;
	padding: 16px;
}
.summary label {
	display: inline-block;
	width: 80px;
}
.summary .score .value {
	font-size: 1.4rem;
	font-weight: bold;
}

.summary.final .score .value {
	font-size: 3.6rem;
	color: #CC4444;
}

.summary.final .round {
	display: none;
}

footer {
	margin: 4rem auto;
	max-width: 680px;
	font-size: 0.85rem;
}